

*{         /* Reseteo a navegador web para que no ocupe margin y padding */ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;   /* Para que el tamaño de la caja no se expanda con los bordes */
}
body{
    background-color:#303030;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width:20%;
    height: 100vh;   /* vh sirve para ocupar el tamaño de toda la pantalla del dipositivo*/
    float: left;
    padding: 5% 0% 0% 3% ;
    
}

nav ul{
    list-style-type: none; /* Quita los puntos de una lista */
}

section{
    width: 75%;
    height:100vh;
    float: left;
    text-align: center;

}

#uno,#dos,#tres,#cuatro{  /* alto y ancho de h2 */
    width: 100%;
    height: 25%;
    padding: 4% 10% 4% 10;
    font-size: 0.8em;  /* 0.8em es el tamaño por defecto */
}

#uno{
    background-color: #00D9F3;
}

#dos{
    background-color: #FFDF00;
}

#tres{
    background-color: #FF7B00;
}

#cuatro{
    background-color: #FF000A;
}


nav  a{
    color:white;
    text-decoration: none;


}

nav a:hover{  /* Hover sirve para al pasar el puntero haga una accion */
    color:#b9b8ba;
}